body {
    font-family: Arial;
    background-color: rgb(31, 47, 78);
    padding-top: 66px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
}

.map-path-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 516px;
    /*set a max width and min width with the @ stuff*/
}

.menu {
    height: 450px;
}

.map-img {
    width: 900px;
}

@media (max-width: 1200px) {
    .map-img {
        width: 700px;
    }
}

@media (max-width: 1000px) {
    .map-img {
        width: 500px;
    }
}

@media (max-width: 800px) {
    .map-img {
        width: 300px;
    }
}

.menu-input {
    height: 260px;
}

.location-input,
.years-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 60px;
    width: 250px;
}

.location-input {
    margin-bottom: 4px;
    position: relative;
}

.years-input {
    margin-bottom: 12px;
}

.origin-searchbar,
.destination-searchbar {
    width: 250px;
    height: 24px;
    border-radius: 12px;
    background-color: white;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.origin-searchbar:focus,
.destination-searchbar:focus {
    background-color: lightskyblue;
    outline: none;
    color: black;
    font-weight: bold;
}

.years-text-container,
.algorithm-text-container,
.time-text-container,
.cost-text-container {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.year-text,
.algorithm-text,
.cost-text,
.time-text {
    font-size: 16px;
    color: rgb(207, 208, 209);
}

.years-dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.year-dropdown {
    width: 80px;
}

.algorithm-dropdown {
    width: 200px;
}

.year-dropdown,
.algorithm-dropdown {
    background-color: white;
    height: 24px;
    font-weight: bold;
    border-radius: 12px;
    transition: background-color 0.3s,
    width 0.3s;
}

.year-dropdown:hover {
    width: 130px;
}

.year-dropdown:focus {
    width: 130px;
}

.algorithm-dropdown:hover {
    width: 250px;
}

.algorithm-dropdown:focus {
    width: 250px;
}

.year-dropdown:focus,
.algorithm-dropdown:focus {
    background-color: lightskyblue;
    color: black;
    font-weight: bold;
    outline: none;
}

.year-rectangle {
    height: 2px;
    width: 20px;
    background-color: rgb(207, 208, 209);
    border-radius: 1px;
    margin-right: 10px;
    margin-left: 10px;
}

.algorithm-input {
    margin-bottom: 12px;
}

.calculate-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 30px;
}

.calculate-button {
    font-size: 16px;
    background-color: white;
    width: 100px;
    height: 34px;
    border-radius: 17px;
    border: none;
    transition: background-color 0.3s,
    width 0.3s;
}

.calculate-button:hover {
    background-color: lightskyblue;
    width: 200px;
}

.calculate-button:active {
    background-color: rgb(59, 175, 247);
    width: 200px;
}

#origin-suggestions,
#destination-suggestions {
    width: 254px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}

#origin-suggestions {
    top: 26px;
}

#destination-suggestions {
    top: 60px;
}

#origin-suggestions li,
#destination-suggestions li {
    background-color: white;
    height: 20px;
    width: 254px;
    font-size: 14px;
    transition: background-color 0.3s;
}

#origin-suggestions li:hover,
#destination-suggestions li:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

.menu-output {
    height: 200px;
}

.flight-info-output {
    width: 250px;
    height: 80px;
}

.flight-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 250px;
    height: 80px;
    overflow-y: auto;
    background-color: white;
}

.flight-list li {
    display: grid;
    grid-template-columns: 175px 1fr;
    height: 30px;
    border-bottom: solid black 1px;
}

.flight-list li div {
    display: flex;
    align-items: center;
    height: 30px;
}

.flight-list-city-name {
    border-right: solid black 1px;
}

.flight-list li div p {
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.time-container {
    margin-bottom: 8px;
}

.cost-output,
.time-output {
    background-color: white;
    width: 100px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
}

.cost-output p,
.time-output p {
    color: black;
    font-size: 16px;
}








