<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet'/>

    <title>SkySaver</title>

</head>
<body>
    <header class="header">
        <div class="logo-container">
            <div class="airplane-container">
                <img class="airplane-img" src="{{ url_for('static', filename='images/plane-logo.png') }}" alt="">
            </div>
            <div class="title-container">SkySaver</div>
        </div>
    </header>

    <main>
        <div class="map-path-display">
            <div id="mapbox" style="width: 700px; height: 500px"></div>
            <div id="line"></div>
        </div>
        <form id="user-menu">
            <div class="menu">
                <div class="menu-input">
                    <div class="location-input">
                        <input type="text" placeholder="Origin" class="origin-searchbar" name="originSearchbar" id="originSearchbar">
                        <input type="text" placeholder="Destination" class="destination-searchbar" name="destinationSearchbar" id="destinationSearchbar">
                    </div>
                    <div class="years-input">
                        <div class="years-text-container">
                            <p class="year-text">Select a range of years.</p>
                        </div>
                        <div class="years-dropdown-container">
                            <select class="year-dropdown" name="firstYearDropDown" id="firstYearDropDown">
                                <option value="-1"></option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                            </select>
                            <div class="year-rectangle"></div>
                            <select class="year-dropdown" name="secondYearDropDown" id="secondYearDropDown">
                                <option value="-1"></option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                            </select>
                        </div>
                    </div>
                    <div class="algorithm-input">
                        <div class="algorithm-text-container">
                            <p class="algorithm-text">Select an Algorithm</p>
                        </div>
                        <div class="algorithm-dropdown-container">
                            <select class="algorithm-dropdown" name="algorithmDropDown" id="algorithmDropDown">
                                <option value="-1"></option>
                                <option value="dijkstra">Dijkstra's</option>
                                <option value="bellmanford">Bellman Ford's</option>
                            </select>
                        </div>
                    </div>
                    <div class="calculate-input">
                        <button type="submit" class="calculate-input" id="calculate-input">Calculate!</button>
                    </div>
                </div>
                <div class="menu-output">
                    <div class="flight-info-output">
                        <ul class="flight-list">
                            <!--
                                This is meant to be a scrollable list such that there can be any number of flights to be
                                displayed. Intend to do this with JS returning list items. CSS will be written to limit the
                                size of the flight-list so that it stays consistent with the page size.
                            -->
                        </ul>
                    </div>
                    <div class="time-output">
                        4.3 s
                    </div>
                    <div class="cost-output">
                        $43.43
                    </div>
                </div>
            </div>
        </form>
        
        <!-- <form id="temp">
            <input type="text">
            <button type="submit"></button> 
        </form> -->

        <!--
            Uses ajax to get the data from the form and sends it to python function to calculate cheapest flight cost/path
            It then returns that data and calls a dispalyPath function to display the actual path on the map
        -->
        <script>
            // $(document).ready(function() {

            //     $('#temp').submit(function(event) {
            //         event.preventDefault();

            //         $.ajax({
            //             type:'POST',
            //             url: '/temp',
            //             data: $('#temp').serialize(),
            //             success: function(response) {
            //                 createCSV(response.allCities);
            //             }
            //         });
            //     });

            // });

            $(document).ready(function() {
    
                $('form').submit(function(event) {
                    event.preventDefault();
    
                    $.ajax({
                        type: 'POST',
                        url: '/get_data',
                        data: $('form').serialize(),
                        success: function(response) {
                            displayPath(response.allEdges, response.bestPath);
                        }
                    });
                });
    
            });
        </script>

    </main>
</body>
</html>